streamlit==1.35.0

langchain==0.1.20
langchain-core==0.1.52
langchain-community==0.0.38
langchain-openai==0.1.7
langchain-pinecone==0.1.0
langchain-text-splitters==0.0.2
langchain-upstage==0.1.5

pinecone-client==3.2.2
python-dotenv==1.0.1
openai==1.34.0
tiktoken==0.7.0
